---js
const eleventyNavigation = {
	key: "About",
	order: 3
};
---

<h1>About</h1>
<p>
  This is a personal website. No cookies. Only GDPR-friendly <a href="https://www.goatcounter.com/">GoatCounter</a>, which allows me to see if anyone is stopping by here: <a href="https://manuelpuchta.goatcounter.com/">GoatCounter dashboard</a>.
</p>
<p>
  This site was created with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a> and is hosted on <a href="https://uberspace.de">Uberspace</a>.
</p>
<h3>Contact</h3>
<p>Send me nice emails to <a href="mailto:mvstuckrad@pm.me">mvstuckrad[at]pm.me</a>.</p>
<ul>
  <li><a href="https://github.com/manuelpuchta">GitHub</a></li>
  <li><a href="https://www.komoot.com/de-de/user/911055856910">Komoot</a></li>
  <li><a href="https://www.linkedin.com/in/manuelpuchta/">LinkedIn</a></li>
  <li><a href="https://www.strava.com/athletes/44997462">Strava</a></li>
</ul>
