---js
const eleventyNavigation = {
	key: "About",
	order: 3
};
---

<h1>About</h1>
<p>I am someone who writes things on the internet.</p>
<p>Send me nice emails to <a href="mailto:mvstuckrad@pm.me">mvstuckrad[at]pm.me</a> or stalk by:</p>
<ul>
  <li><a href="https://github.com/manuelpuchta">GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/manuelpuchta/">LinkedIn</a></li>
</ul>
<p>
  This site was created with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a> and is hosted on <a href="https://uberspace.de">Uberspace</a>.
</p>
<p>
  This is a personal website. No cookies. Only GDPR-friendly <a href="https://www.goatcounter.com/">GoatCounter</a>, which allows me to see if anyone is stopping by here: <a href="https://manuelpuchta.goatcounter.com/">GoatCounter dashboard</a>.
</p>