<img src="./portrait-500.jpg" alt="A black and white portrait of Manuel von Stuckrad (born Puchta), the author of this website" width="280" height="280">

<h1>Hi! I&apos;m Manuel, a <a href="https://manuel.vonstuckrad.net/cv/">web developer</a> from Hamburg.</h1>

<p>I got married and took my wife's name. "Manuel Puchta" has become "Manuel von Stuckrad." You can visit my new website at: <a href="https://manuel.vonstuckrad.net">https://manuel.vonstuckrad.net</a>.</p>
