.footer {
  margin: 1rem auto;
  max-width: var(--max-width-l);
}

@media print {
  .footer {
    display: none;
  }
}

.footer > div {
  margin: 1rem;
  border: var(--border-size) solid var(--c-comp-c);
}

.footer > div > div {
  margin: 0 1rem;
}

.footer + nav {
  margin-bottom: 5rem;
}

.footer:last-child {
  margin-bottom: 5rem;
}
