.footer {
  text-align: center;
  background: radial-gradient(var(--c-comp-b), var(--c-comp-c));
}

.footer p {
  font-size: 0.8rem;
}

.footer a:hover {
  color: var(--c-typo);
}

.footer > div {
  margin: 0 auto;
  max-width: var(--max-width-l);
}

.footer > div > div {
  padding: 4rem 1rem 5rem;
}
