.main {
  margin: 1rem auto 3rem;
  max-width: var(--max-width-l);
}

@media (min-width: 40rem) {
  .main {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 64rem) {
  .main {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media print {
  .main {
    margin-top: 0;
  }
}

.main > div {
  margin: 0 1rem;
}

.mainWithoutNavigation {
  margin-top: 3rem;
}

@media (min-width: 40rem) {
  .mainWithoutNavigation {
    margin-top: 4rem;
  }
}

@media (min-width: 64rem) {
  .mainWithoutNavigation {
    margin-top: 0;
  }
}
