.navigation {
  margin: 0 auto;
  max-width: var(--max-width-l);
  font-family: var(--font-system);
  font-weight: bold;
  line-height: 1.2;
}

.navigation ul {
  display: inline-flex;
  margin: 1rem;
  padding: 0;
  list-style: none;
  border: var(--border-size) solid var(--c-comp-c);
}

.navigation li {
  margin: 0 0.5rem;
}

.navigation a {
  display: flex;
  text-decoration: none;
  padding: 0.5rem;
}

.navigation .active {
  color: var(--c-typo-a-hover);
}
