.navigation {
  margin: 0 auto;
  max-width: var(--max-width-l);
}

.navigation ul {
  display: inline-flex;
  margin: 1rem;
  padding: 0;
  list-style: none;
  border: var(--border-size) solid var(--c-comp-4);
}

.navigation li {
  margin: 0 0.5rem;
}

.navigation a {
  display: flex;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navigation .active {
  text-decoration: line-through;
}
