.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation ul {
  margin: 1rem 0.5rem;
  padding: 0;
  list-style: none;
}

@media (min-width: 40rem) {
  .navigation ul {
    margin: 1rem;
  }
}

.navigation li {
  margin: 0 0.5rem;
}

.navigation a {
  text-decoration: none;
  font-size: 0.75rem;
  padding: 0.5rem 0;
}

@media (min-width: 40rem) {
  .navigation a {
    font-size: 1rem;
  }
}

.navigation .active {
  text-decoration: line-through;
}
