.cv {
  margin: 0 1rem;
}

.cv header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 30rem) {
  .cv header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.cv header aside > * {
  margin: 0.5rem 0;
}

.cv section {
  margin: 2rem 0;
}

.cv h2 {
  border-bottom: 0.1875rem solid var(--c-typo);
}

.cv h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.cv p {
  margin: 0.5rem 0;
}

.cv ul {
  margin-top: 0;
}

@media print {
  .cv section {
    margin: 1rem 0;
  }

  .cv h2 {
    font-size: 1rem;
  }

  .cv h3 {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
  }

  .cv ul li {
    margin: 0.1rem 0;
  }

  .hiddenForPrint {
    display: none;
  }
}
