.cv {
  margin: 0 1rem;
}

.cv header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 30rem) {
  .cv header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.cv header aside > * {
  margin: 0.5rem 0;
}

.cv section {
  margin: 2rem 0;
}

.cv h2 {
  border-bottom: 0.125rem solid var(--c-typo);
}

.cv h3 {
  margin-bottom: 0.75rem;
}

.cv p {
  margin: 0.5rem 0;
}

.cv ul li {
  margin: 0.65rem 0;
}

ul.listHasMoreSpace li {
  margin: 1rem 0;
}

.work > ul > li {
  margin: 0.5rem 0;
}

@media print {
  .hiddenForPrint {
    display: none;
  }
}
