@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 40rem) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-auto-rows: minmax(10rem, auto);
    grid-auto-flow: dense;
    gap: 0;
  }
}

@media (min-width: 64rem) {
  .grid {
    grid-auto-rows: minmax(12rem, auto);
    gap: 1rem;
  }
}

.grid > div:nth-child(1) {
  justify-self: center;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (min-width: 40rem) {
  .grid > div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }
}

.grid > div:nth-child(2) {
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  margin: 0 1rem;
  border: var(--border-size) solid var(--c-comp-c);
}

@media (min-width: 40rem) {
  .grid > div:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }
}

@media (min-width: 64rem) {
  .grid > div:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-end: 2;
  }
}

.grid > div:nth-child(3) {
  grid-row-start: 5;
  grid-row-end: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.grid > div:nth-child(3) > div {
  padding: 0 1rem;
}

@media (min-width: 40rem) {
  .grid > div:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
  }
}

.grid > div:nth-child(4) {
  position: relative;
  justify-self: center;
  align-self: center;
  grid-row-start: 7;
  grid-row-end: 9;
}

@media (min-width: 40rem) {
  .grid > div:nth-child(4) {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
  }
}

@media (min-width: 64rem) {
  .grid > div:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-end: 2;
  }
}

/* img within first div.grid */
.portrait {
  display: flex;
}

/* layout div within second div.grid */
@media (min-width: 64rem) {
  .intro h2 {
    font-size: 2rem;
  }

  .intro p {
    font-size: 1.25rem;
  }
}

/* layout div within fourth div.grid */
.stalking {
  width: 15rem; /* 240px */
  height: 15rem; /* 240px */
  display: flex;
  position: relative;
  overflow: hidden;
}

.stalking svg {
  position: absolute;
  top: 0;
  left: 0;
  animation: rotate 45s linear infinite;
}

.stalking ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.stalking li {
  display: inline-flex;
  margin: 0.5rem;
}
