/*
  ## Responsive stylying
  
  Mobile first thinking, the following media query
  breakpoints can be used:
  - 1. breakpoint: 40rem (@see footer.module.css)
  - 2. breakpoint: 64rem (@see index.module.css)
*/

html {
  --c-comp-1: #aaddaa;
  --c-comp-2: #72ab92;
  --c-comp-3: #2c7857;
  --c-comp-4: #e276e2;
  --c-comp-5: #9b72ab;

  --c-signal-a: var(--c-comp-3);
  --c-signal-b: var(--c-comp-4);

  --c-typo: #212121;
  --c-typo-i: #f6f6f6;
  --c-typo-a: var(--c-signal-a);
  --c-typo-a-hover: var(--c-signal-b);
  --c-typo-a-i: var(--c-typo-i);
  --c-typo-a-i-hover: var(--c-comp-2);

  --bg-code: var(--c-typo-i);
  --bg-i: var(--c-typo);

  --border-size: 0.25rem;

  --max-width: 44rem;
  --max-width-l: 60rem;

  --duration-200: 200ms;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--c-typo);
  line-height: 1.5;
}

pre {
  overflow: auto;
  word-wrap: normal;
  padding: 0.75rem;
  background-color: var(--bg-code);
}

code:not(pre code) {
  padding: 0.125rem 0.25rem;
  background-color: var(--bg-code);
  border-radius: 0.1875rem;
}

cite {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5 {
  /* @see: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  line-height: 1.2;
}

a {
  color: var(--c-typo-a);
  transition: color var(--duration-200);
}

a:hover {
  color: var(--c-typo-a-hover);
}

.inverted {
  color: var(--c-typo-i);
  background-color: var(--bg-i);
}

.inverted a {
  color: var(--c-typo-a-i);
}

.inverted a:hover {
  color: var(--c-typo-a-i-hover);
}

li {
  margin: 0.5rem 0;
}

.post h3 {
  margin-bottom: 0;
}

.posts img {
  display: block;
  max-width: 100%;
}
