/*
  CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/  

  Responsive stylying
  
  Mobile first thinking, the following media query
  breakpoints can be used:
  - 1. breakpoint: 40rem (@see index.module.css)
  - 2. breakpoint: 64rem (@see index.module.css)
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  /* @see: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  --font-system: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”,
    “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;

  --c-comp-a: #72ab92;
  --c-comp-b: #2c7857;
  --c-comp-c: #e276e2;

  --c-divider: #0000001a;

  --c-signal-a: var(--c-comp-b);
  --c-signal-b: var(--c-comp-c);

  --c-typo: #212121;
  --c-typo-i: #f6f6f6;
  --c-typo-a: var(--c-signal-a);
  --c-typo-a-hover: var(--c-signal-b);

  --bg-code: var(--c-typo-i);

  --border-size: 0.25rem;

  --max-width: 40rem;
  --max-width-l: 50rem;

  --duration-200: 200ms;

  font-size: 120%;
}

@media print {
  html {
    font-size: 80%;
  }
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  color: var(--c-typo);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

pre {
  overflow: auto;
  word-wrap: normal;
  padding: 0.75rem;
  background-color: var(--bg-code);
}

code:not(pre code) {
  padding: 0.125rem 0.25rem;
  background-color: var(--bg-code);
  border-radius: 0.1875rem;
}

cite {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-system);
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

a {
  color: var(--c-typo-a);
  transition: color var(--duration-200);
}

a:hover {
  color: var(--c-typo-a-hover);
}
