/*
  ## Responsive stylying
  
  Mobile first thinking, the following media query
  breakpoints can be used:
  - 1. breakpoint: 40rem (@see index.module.css)
  - 2. breakpoint: 64rem (@see index.module.css)
*/

html {
  /* @see: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  --font-system: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”,
    “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;

  --c-comp-a: #72ab92;
  --c-comp-b: #2c7857;
  --c-comp-c: #e276e2;

  --c-divider: #0000001a;

  --c-signal-a: var(--c-comp-b);
  --c-signal-b: var(--c-comp-c);

  --c-typo: #212121;
  --c-typo-i: #f6f6f6;
  --c-typo-a: var(--c-signal-a);
  --c-typo-a-hover: var(--c-signal-b);
  --c-typo-a-i: var(--c-typo-i);
  --c-typo-a-i-hover: var(--c-comp-a);

  --bg-code: var(--c-typo-i);
  --bg-i: var(--c-typo);

  --border-size: 0.25rem;

  --max-width: 40rem;
  --max-width-l: 50rem;

  --duration-200: 200ms;
}

html {
  font-size: 120%;
}

@media print {
  html {
    font-size: 80%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--c-typo);
  line-height: 1.5;
}

pre {
  overflow: auto;
  word-wrap: normal;
  padding: 0.75rem;
  background-color: var(--bg-code);
}

code:not(pre code) {
  padding: 0.125rem 0.25rem;
  background-color: var(--bg-code);
  border-radius: 0.1875rem;
}

cite {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-system);
  line-height: 1.2;
}

a {
  color: var(--c-typo-a);
  transition: color var(--duration-200);
}

a:hover {
  color: var(--c-typo-a-hover);
}

.inverted {
  color: var(--c-typo-i);
  background-color: var(--bg-i);
}

.inverted a {
  color: var(--c-typo-a-i);
}

.inverted a:hover {
  color: var(--c-typo-a-i-hover);
}

li {
  margin: 0.5rem 0;
}

.post h3 {
  margin-bottom: 0;
}

.posts img {
  display: block;
  max-width: 100%;
}
