name: Rsync Eleventy build to Uberspace
on:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  rsync-to-uberspace:
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: "placeholder"

      - name: Adding known_hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: npm

      - name: Cache npm
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}

      - name: Cache Eleventy .cache
        uses: actions/cache@v5
        with:
          path: ./.cache
          key: ${{ runner.os }}-eleventy-fetch-cache

      - name: Install dependencies
        run: npm i

      - name: Build website (Eleventy)
        run: npm run build

      - name: Prepare build folder to be uploadable
        run: |
          cp ${{ github.workspace }}/resources/.htaccess ${{ github.workspace }}/_site

      - name: List build files
        run: |
          ls ${{ github.workspace }}/_site

      - name: Rsync to Uberspace
        run: rsync -avz ${{ github.workspace }}/_site/ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/virtual/${{ secrets.UBERSPACE_USERNAME }}/html
